extends layout_

block content
  .main.container.clearfix
    .row
      .card
        .container(align='center')
        img.wine(src='/images/white_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/red_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/wine_and_bottle.png', alt='white_wine', height='62', width='42') 
        img.wine(src='/images/red_wine_2.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/white_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/red_wine.png', alt='white_wine', height='62', width='42')
        h1.display-4.m-b-2 Oops! You are not logged in. Please log in and try again. 
        h2(align='center') 
          a(href="/login")
            button.btn.btn-primary(type="button", value='Try Again', style='float: center;') Try Again
