extends layout_

block content
  .main.container.clearfix
    .row
      .card
        .container
          h1 #{message} 
          
          h1.display-4
            a(class='button' href = "/dashboard") Go Back

          h1.display-4
            a(class='button' href = "/logout") Logout



      .col-md-8.col-md-offset-2
        
      
