extends layout_

block content
  .main.container.clearfix
    .row
      .card
        .container(align='center')
          h1.display-4.m-b-2 Thanks for referring #{referredname}!
            h3(align='center')
              a(href="/refer")
                button.btn.btn-primary(type="button", value='Refer Someone Else', style='float: left;') Refer Someone Else
            h3(align='center')
              a(href="/dashboard")
                button.btn.btn-primary(type="button", value='Back to Dashboard', style='float: right;') Back to dashboard
