<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Team 4 Data Slider</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
<link href='/css/style.css' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src ="/javascripts/call.js"></script>
<script src ="/javascripts/call2.js"></script>
<script src ="/javascripts/call3.js"></script>
<script src ="/javascripts/call4.js"></script>
<script src ="/javascripts/call5.js"></script>
<script src ="/javascripts/call6.js"></script>
<script src ="/javascripts/call7.js"></script>
<script src ="/javascripts/call8.js"></script>

</head>

<body>
<div class="container">
  <input id="rad1" type="radio" name="rad" checked>
  <section style="background: #449DF5"> <i></i>
    <h1 id = "title1"></h1>
    <p id = "paragraph1"></p>
    <label for="rad3"><i class="fa fa-chevron-left"></i></label>
    <label for="rad2"><i class="fa fa-chevron-right"></i></label>
  </section>
  <input id="rad2" type="radio" name="rad">
  <section style="background: #40CCB5"> <i></i>
    <h1 id = "2"></h1>
    <p id = "p2"></p>
    <label for="rad1"><i class="fa fa-chevron-left"></i></label>
    <label for="rad3"><i class="fa fa-chevron-right"></i></label>
  </section>
  <input id="rad3" type="radio" name="rad">
  <section style="background: #FFC765"> <i></i>
    <h1 id = "title3"></h1>
    <p id = "paragraph3">>Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum nunc ligula, bibendum laoreet ligula id, aliquet ullamcorper erat. Donec eget tellus ut nunc maximus faucibus.</p>
    <label for="rad2"><i class="fa fa-chevron-left"></i></label>
    <label for="rad4"><i class="fa fa-chevron-right"></i></label>
  </section>
  <input id="rad4" type="radio" name="rad">
  <section style="background: #ED5565"> <i></i>
    <h1 id = "title4"></h1>
    <p id = "paragraph4"></p>
    <label for="rad3"><i class="fa fa-chevron-left"></i></label>
    <label for="rad1"><i class="fa fa-chevron-right"></i></label>
  </section>
  <section style="background: #C0C0C0"> <i class="fa fa-anchor"></i>
    <h1 id = "title5"></h1>
    <p id = "paragraph5"></p>
    <label for="rad3"><i class="fa fa-chevron-left"></i></label>
    <label for="rad2"><i class="fa fa-chevron-right"></i></label>
  </section>
  <input id="rad2" type="radio" name="rad">
  <section style="background: #000000"> <i></i>
    <h1 id = "title6"></h1>
    <p id = "paragraph6"></p>
    <label for="rad1"><i class="fa fa-chevron-left"></i></label>
    <label for="rad3"><i class="fa fa-chevron-right"></i></label>
  </section>
  <input id="rad3" type="radio" name="rad">
  <section style="background: #FFA795"> <i></i>
    <h1 id = "title7"></h1>
    <p id = "paragraph7"></p>
    <label for="rad2"><i class="fa fa-chevron-left"></i></label>
    <label for="rad4"><i class="fa fa-chevron-right"></i></label>
  </section>
  <input id="rad4" type="radio" name="rad">
  <section style="background: #EB5565"> <i></i>
    <h1 id = "title8"></h1>
    <p id = "paragraph8"></p>
    <label for="rad3"><i class="fa fa-chevron-left"></i></label>
    <label for="rad1"><i class="fa fa-chevron-right"></i></label>
  </section>
</div>
<!-- /.container -->

</body>
</html>
