
doctype pug
head
  style.
    h1 {border: 5px solid black;}
title Synek Refferals
link(rel='stylesheet', type='text/css', href='mystyle.css')
.w3-container.w3-teal
  h1(align='center') Welcome!
.w3-container.w3-teal
  p
  p
    input(type='button', value='Add Referrals', style='float: left;')
    input(type='button', value='Logout', style='float: right;')
  p
.w3-container(align='center')
  h2
    | Account Information
    label -Name-
    p
    p
      label -Number-
    p
      label -Email-
    p
      input(type='button', value='Edit Information', style='float: center;')
  
