extends layout_

block content
  .main.container.clearfix
    .row
      .card
        .container(align='center')
            img.wine(src='/images/crying.png', alt='crying_face', height='62', width='62')
            img.wine(src='/images/crying.png', alt='crying_face', height='62', width='62')
            img.wine(src='/images/crying.png', alt='crying_face', height='62', width='62')  
            h1(align='center') Invalid email or password. 
            
            h2(align='center') 
              a(href="/login")
                button.btn.btn-primary(type="button", value='Try Again', style='float: center;') Try Again
