extends layout_

block content
  .main.container
    .row
      .col-md-6.col-md-offset-4
        img.wine(src='/images/white_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/red_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/wine_and_bottle.png', alt='white_wine', height='62', width='42') 
        img.wine(src='/images/red_wine_2.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/white_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/red_wine.png', alt='white_wine', height='62', width='42')
  
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Oops! You are not logged in. Please log in and try again. 
        a(class='button' href = "/login") Go to Login
