extends layout_

block content
  .main.container
    .row
      h3(align='left')
        a(href="/dashboard")
        
      .col-md-6.col-md-offset-4
        img.wine(src='/images/white_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/red_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/wine_and_bottle.png', alt='white_wine', height='62', width='42') 
        img.wine(src='/images/red_wine_2.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/white_wine.png', alt='white_wine', height='62', width='42')
        img.wine(src='/images/red_wine.png', alt='white_wine', height='62', width='42')
      
      .col-md-6.col-md-offset-3
        h2 Customer Survey
        p Please complete the survey there is no wrong answer!
        p This will help us determine which wines are a good choice for you!
        p Please select one for each question 
        

        form(method='POST' action='/survey')
          div.form-group
            label(for='Question1?') How do you take your coffee?
            input.form-control(type='radio' id='Q1' name='Black') 
            label(for='Black') Black
            input.form-control(type='radio' id='Q1' name='With cream')
            label(for='Cream') With Cream
            input.form-control(type='radio' id='Q1' name='With sugar')
            label(for='sugar') With Sugar
            input.form-control(type='radio' id='Q1' name='With sugar & cream')
            label(for='Both') With Cream & Sugar
          div.form-group
            label(for='Question2') Which kind of Chocolate do you prefer?
            input.form-control(type='radio' id='Q2' name='Dark ')
            label(for='Dark') Dark
            input.form-control(type='radio' id='Q2' name='Milk')
            label(for='Milk') Milk Chocolate
            input.form-control(type='radio' id='Q2' name='Neither')
            label(for='Neither') Neither
            input.form-control(type='radio' id='Q2' name='Both')
            label(for='Both') Both
          div.form-group
            
            label(for='Question3') Which type of fruit do you prefer?
            input.form-control(type='radio' id='Q3' name='Peaches & Pears')
            label(for='PP') Peaches & Pears
            input.form-control(type='radio' id='Q3' name='Strawberries raspberries')
            label(for='Berries') Strawberries & Raspberries
            input.form-control(type='radio' id='Q3' name='plums blueberries')
            label(for='Dark Fruit') Pums & Blueberries
            input.form-control(type='radio' id='Q3' name='oranges grapefruit')
            label(for='citris') Oranges & Grapefruit 
        
          div.form-group
                
                label(for='Question3') Which dessert would you prefer?
                input.form-control(type='radio' id='Q4' name='Strawberry Rhubarb pie')
                label(for='SR Pie') Strawberry Rhubarb Pie 
                input.form-control(type='radio' id='Q4' name='Creamy Tiramissu ')
                label(for='CT') Creamy Tiramissu
                  
                button.btn.btn-primary(type='submit') Submit Survey
      .row
